body {
  width: 800px;
   background-color: burlywood;
   color:white
  }
  img{
    width: 500px
  }
    
    
    
  
  h1 {
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
  /* unvisited link */
  a:link {
    color: red;}
  /* visited link */
  a:visited {
    color: green}
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  /* selected link */
  a:active {
    color: blue;
  }
  
  